<div class="container">
  <h2 class="container_title">Ajouter une nouvelle tâche</h2> 
  <form class="container_form">
    <div class="container_add">
      <input type="text" name="name" placeholder="Nom de la tâche">
      <button class="btn modify_btn" >Ajouter</button>
    </div>
  </form>
    <h2 class="container_title">Liste de tâches</h2> 
    <div class="container_task_list">
      @for (task of tasks$ | async; track task.id) {
        <div class="container_task_item">
            <span 
            class="container_task_item_task_name" 
            [class.completed]="task.isCompleted">
            {{ task.name }}
            </span>
            <input 
            type="checkbox" 
            class="task_checkbox" 
            [checked]="task.isCompleted" 
            disabled/>

            <div class="container_task_item_task_actions">
              <button class="btn modify_btn" (click)="selectedTask = task">Modifier</button>
              <button class="btn delete_btn" (click)="delete(task.id)">X</button>
            </div>
        </div>
      } @empty {
        <p>Il n'y a pas de tâches.</p>
      }
    </div>
  </div>
  

@if(selectedTask != null) {
    <div class="modale">
        <h2>Modifier tâche</h2>
        <button class="btn delete_btn" (click)="selectedTask = null">X</button>
        <li class="task_item">
            <span class="task_name">{{selectedTask.name}}</span>
            <div class="task_actions">
              <button class="btn modify_btn">Modifier</button>
            </div>
          </li>
    </div>
}



