<div class="task-manager">
  <h2 class="task-manager__title">Ajouter une nouvelle tâche</h2>
  <form class="task-form" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="task-form__input-group">
      <input type="text" name="name" placeholder="Nom de la tâche" formControlName="name">
      <button class="btn btn--add" type="submit">Ajouter</button>
    </div>
    @if(addForm.controls.name.invalid && (addForm.controls.name.touched || addForm.controls.name.dirty)) {
      <span class="error-message">Veuillez remplir le champ avant de valider</span>
    }
  </form>
  <h2 class="task-manager__title">Liste de tâches</h2>
  <div class="task-list">
    @for (task of tasks$ | async; track task.id) {
      <div class="task-item">
        <div class="task-item__content">
          <span 
            class="task-item__name" 
            [class.completed]="task.isCompleted">
            {{ task.name }}
          </span>
          <input 
            type="checkbox" 
            class="task-item__checkbox" 
            [checked]="task.isCompleted" 
            (change)="onCheck(task)">
        </div>
        <div class="task-item__actions">
          <button class="btn btn--edit" (click)="selectedTask = task">Modifier</button>
          <button *ngIf="task.id" class="btn btn--delete" (click)="delete(task.id)">X</button>
        </div>
      </div>
    } @empty {
      <p class="task-list__empty">Il n'y a pas de tâches.</p>
    }
  </div>
</div>

@if(selectedTask != null) {
  <div class="modal">
    <h2>Modifier tâche</h2>
    <button class="btn btn--delete" (click)="closeModal()">X</button>
    <form class="task-form" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="task-form__input-group">
          <input type="text" name="name" placeholder={{selectedTask.name}} formControlName="name">
          <button class="btn btn--edit" type="submit">Modifier</button>
        </div>
        @if(updateForm.controls.name.invalid && (updateForm.controls.name.touched || updateForm.controls.name.dirty)) {
          <span class="error-message">Veuillez remplir le champ avant de valider</span>
        }
        @if(updateForm.value.name == selectedTask.name) {
          <span class="error-message">Le nom est identique au précédent</span>
        }
    </form>
  </div>
}
